.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.card {
    position: relative;
    width: 45%;
    transition: 0.3s ease-in-out;
    box-shadow: 0 3px 15px rgb(4, 124, 10);
    margin-bottom: 6rem;
}

.card .imgbox {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.card .imgbox img {
    width: 100%;
    display: block;
    transition: 0.5s;
}

.card .content {
    width: 100%;
    padding: 12px;
    background: rgb(155, 47, 47);
    transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
    box-sizing: border-box;
    overflow: hidden;
}

.card:hover .content {
    width: 100%;
    height: auto;
    overflow: visible;
}

.content p {
    margin: 0;
    display: none;
    padding: 1em 1em;
    transform: translateY(2em);
    line-height: 1.3em;
    transform: 0.3s;
    text-align: justify;
    opacity: 0;
}

.card:hover .content p {
    transform: translateY(0);
    opacity: 1;
    display: block;
}

h2 {
    text-align: center;
    margin: 0;
}

.card:hover {
    box-shadow: 0 0 5em rgba(0, 0, 0, 0.4)
}