@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nunito:ital,wght@1,200&family=Poppins:wght@700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background: #FDFEFE;
}
h2{
    position: relative;
    font-size: 10vw;
    color: #FDFEFE;
    -webkit-text-stroke: 0.3vw #16A085;
    text-transform: uppercase;
}
h2::before
{
content: attr(data-text);
position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
color:#0E6655;
-webkit-text-stroke: 0vw #FDFEFE;
border-right: 2px solid #0E6655;
overflow: hidden;
animation:animate 10s linear infinite;
}
@keyframes animate {
    0%
    {
        width:0;
    }
    70%
    {
    width:100%;
    }
}