body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(../images/Vrah\ Golesh.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 20s;

    animation-name: animate;
    animation-direction: alternate-reverse ;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}
@keyframes animate {
    0%{
        background-image: url('../images/Varvara.jpg');
    }
    20%{
        background-image: url('../images/Kondolovo.jpg');
    }
    40%{
        background-image: url('../images/Kosti-Kazancheto.jpg');
    }
    60%{
        background-image: url('../images/Peshtera\ Maharata.jpg');
    }
    80%{
        background-image: url('../images/Silistar.jpg');
    }
    100%{
        background-image: url('../images/Varvara-Paraklis\ Sv\ Bogorodica.jpg');
    }

}
