*{
    background: url(back.jpg) no-repeat center center fixed; 
}
*{
    margin: 0;
    padding: 0;

}


.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{

    color:rgb(19, 54, 45);
    font-size: 59px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 0.00002px;
    float: center;
    padding-top: 1px;
    
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 110px;
    margin-top: 27px;
    font-size: 20px;
}

ul li a{
    text-decoration:none;
    color:rgb(27, 61, 45);
    font-family:Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}
ul li a:hover{
    color:rgb(133, 25, 91);
   
 
}

