body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main{
    width: 100%;
}

nav{
    width: 100%;
    background-color: rgb(71, 54, 36);
    height: 80px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
}
.logo a{
    font-size: 39px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-left: 100px;
    line-height: 65px;    
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: 0.5s all ease;
}
ul{
    margin: 25px;
 
}
ul li{
    float: left;
    padding: 0px 10px;
    list-style: none;
}
ul li a:hover{
    color:rgb(232, 243, 76);

}
.header{
    background-image: url('../images/str.jpg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.dropdown{
    float: left;
    overflow: hidden;

}

.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    background-color: rgb(71, 54, 36);
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: rgb(61, 49, 26);
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(71, 54, 36);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.2);
    z-index:1;
}

.dropdown-content a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: rgb(71, 54, 36);
}

.dropdown:hover .dropdown-content{
    display: block;
}