@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Nova+Square&display=swap'); /*nova square font url*/

body {
    background-color: antiquewhite;
}

* { /*style for the all the elements*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Nova Square', cursive;
}
h1 {
    font-size: 5.4rem;
    color: #fff;
    margin-bottom: 5rem;
}
h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    color: #fff;
}

.container { /* centering the container for the quiz */
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: auto;
    padding: 9rem;
    background-image: url("https://a.storyblok.com/f/44200/1280x850/e04150f0a7/thumbnail_dsc07760.jpg");
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
    border-radius: 45px;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.text-center {
    text-align: center;
}
.hidden {
    display: none;
}
.btn { /*style for the "Play" and "High Scores" buttons*/
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28, 26, 26);
    background-color: rgb(221, 223, 132);
    border-radius: 8px;
    border: 1px solid rgb(38, 70, 28);
}
.btn:hover { /*hover effects for buttons*/
    cursor:pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(221, 223, 132);
    transition: transform 150ms;
    transform: scale(1.03);
}